//Variables
$website-width: 1280px;
$main-color: dodgerblue;
$light-color: #f4f4f4;
$dark-color: #333;
$bg-img: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../dist/img/showcase.jpg');