.container{
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}
//button
%btn-shared{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.5;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}
.btn{
    &-main{
        @extend %btn-shared;
        color: #333;
        background-color: $main-color;
    }
    &-light{
        @extend %btn-shared;
        color: #333;
        background-color: $light-color;
    }
    &-dark{
        @extend %btn-shared;
        color: #f4f4f4;
        background-color: $dark-color;
    }
    &-medium{
        padding: 0.2rem 1rem;
        @extend %btn-shared;
        color: #fff;
        background-color: $main-color;
    }
}
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover{
    background-color: $main-color;
    color: #fff;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.text-center{
    text-align: center;
}